<app-create-task>
</app-create-task>


<div class="dashboard-container">
    <div style="display: flex;">
        <div style="width: 50%">
            <h2>Dashboard</h2>
        </div>
        <div style="width: 50%; text-align: right;">
            <button class="create-task-btn" >Create Task</button>
            <button class="create-task-btn">Fetch Tasks</button>
            <button class="create-task-btn" >Clear Tasks</button>
        </div>
    </div>

    <hr>

    <div class="dashboard-item-container">
        <div class="sb sb-error" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="loader" *ngIf="isLoading"></div>
        <div style="text-align: center;" *ngIf="allTasks.length < 1">
            <h2>No task has been created yet!</h2>
        </div>
        <ng-container *ngIf="!isLoading">
            <div class="task-item" >
                <div class="task-title">
                    <h3></h3>
                </div>
                <p><b>Assigned to: </b></p>
                <p><b>Priority: </b></p>
                <p><b>Status: </b></p>
                <div class="task-action-icons">
                    <button class="task-action-btn" title="Detail" >
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                    <button class="task-action-btn" title="Edit" >
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button class="task-action-btn" title="Delete" >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>            
                </div>
            </div>
        </ng-container>
    </div>
</div>
